.comment {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  width: 90%;
  /* border: 1px solid white; */
  padding: 30px 0 80px 0;
  z-index: 10;
}

.comment__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment > h3 {
  margin-bottom: 20px;
  text-align: left;
}

.commentForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-end;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.commentForm__input {
  height: 100px;
  width: 100%;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px;
  font-size: 15px;
}
.commentForm__input:focus {
  outline: none;
}

.commentForm__submit {
  background-color: #242547;
  color: white;
  border: none;
  border-radius: 30px;
  width: 110px;
  height: 45px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.commentForm__submit:hover {
  background-color: #515494;
  /* color: white;
  border: none;
  border-radius: 10px; 
  width: 100px;
  height: 50px;
  font-size: 18px; */
}

.commentItem {
  display: flex;
  flex-direction: column;
  background-color: #242547;
  border-radius: 10px;
  padding: 20px;
  gap: 8px;
  width: 47%;
}

.commentItem__nick_score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.commentItem__nick_score .nickname {
  font-size: 17px;
  font-weight: 600;
}

.commentItem__content {
  display: flex;
  height: 90px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.commentItem__date {
  display: flex;
  justify-content: end;
  margin-left: 5px;
  margin-right: 5px;
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 100;
}

.commentItem > hr {
  width: 100%;
  align-self: center;
  color: #c2c2c2;
}

.commentItem__List {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  /* border: 1px solid white; */
  padding: 30px 10px;
  width: 100%;
}

.commentItem__List__none {
  display: flex;
  padding: 30px 30px;
  width: 100%;
}

/* 로그인 안됐을 때 모달 생성 */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a118a;
  width: 280px;
  height: 70px;
  line-height: 30px;
  /* 최상단 위치 */
  z-index: 90;
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* 애니메이션 주면 깜빡거림... */
.modal.show {
  opacity: 1;
  /* animation: fade 1s forwards; */
}

.modal.hide {
  opacity: 0;
  /* animation: fade-out 1s forwards; */
}
