.team {
  font-weight: 900;
}

.rights {
  margin-top: 10px;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MovieInfo 컴퍼넌트 CSS*/
.movieInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
  margin: 0 50px;
  /* overflow: hidden; */
  /* background-color: pink; */
  /* background-image: url('https://cdn.pixabay.com/photo/2019/02/27/02/22/theater-4023278_1280.jpg');
  background-size: cover;
  filter: blur(20px); */
}
.movieInfo_bg_wrapper {
  position: absolute;
  left: -50px;
  width: 120%;
  height: 120%;
  overflow: hidden;
  filter: blur(5px);
}
.movieInfo__bg {
  width: 1400px;
  height: 525px;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(20px) brightness(0.8);
}

.movieInfo__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid white;
  padding: 0 5px;
  margin-bottom: 10px;
}

.movieInfo__title .title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.movieInfo__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
  padding: 0 30px;
  margin-top: 60px;
  z-index: 10;
}
.movieInfo__content__poster {
  margin-top: 30px;
}
.movieInfo__img {
  width: 250px;
}

.movieInfo__emoticon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  font-size: 24px;
}

.icon {
  cursor: pointer;
}

.movieInfo__align {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

.movieInfo__align > div:first-child {
  flex-basis: 12.5%; /* 1/8 */
  max-width: 12.5%; /* 1/8 */
}

.movieInfo__align__staff {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  /* justify-content: space-between; */
  /* gap: 40px; */
}

.movieInfo__content__detail {
  /* padding: 5px;  */
  z-index: 10;
}

.movieInfo__content__detail > div > div {
  padding: 15px 0px 15px 5px;
}

.movieInfo__content__staff,
.movieInfo__content__genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

.movieInfo__content__plot {
  display: block;
  padding: 30px 10px 50px 10px;
  margin-top: 40px;
  z-index: 10;
  font-size: large;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* font-weight: 100; */
}

.movieInfo__content__plot > h3 {
  padding-bottom: 10px;
}

.movieInfo__content__plot > div {
  /* padding: 8px; */
  margin-top: 16px;
  word-break: break-all;
  line-height: 25px;
}

.movie__info {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 60px;
  bottom: 80px;
  color: white;
  width: 80%;
}
.movie__info-image {
  width: 200px;
  border-radius: 10px;
}

.movie__info-text {
  position: absolute;
  left: 250px;
  bottom: 6%;
  /* gap: 70px;   */
}
