.movie__notSearche {
  /* text-align: center; */
  /* font-size: xx-large; */
  height: 100vh;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  padding-left: 30px;
  letter-spacing: 1px;
  color: white;
  gap: 20px;
}

.movie__notSearche-icon {
  color: white;
  margin-right: 20px;
}

.movie__searches {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개씩 아이템 표시 */
  gap: 20px;
  height: 80vh;
  /* height: 100%; */
  overflow: auto;
  padding: 20px;
  margin-bottom: 100px;
}

/* 웹킷 브라우저용 스크롤바 스타일 */
.movie__searches::-webkit-scrollbar {
  width: 10px;
}

.movie__searches::-webkit-scrollbar-thumb {
  /* background-color: #888;*/
  /* background-color: pink; */
  background-color: #010226;
  border-radius: 5px;
}

.movie__searches::-webkit-scrollbar-thumb:hover {
  /* background-color: #555; */
  /* 스크롤바 hover 색상 */
}

.movie__search__result {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  padding-left: 30px;
  letter-spacing: 1px;
}
