@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* h3 {
  font-weight: 100;
} */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

.app {
  background-color: #010226;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* align-items: center;
  flex-shrink: 0; */
}

.main {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* 메인클래스의 패딩값 영향으로 타 페이지 이상하게 보임 */
  /* padding: 20px 200px; */
  width: 100vw;
  /* 메인화면 확인 필수 */
  max-width: 1400px;
  /* border: 2px solid yellow; */
  /* background-color: cyan; */
  align-self: center;
}

.listTitle {
  padding: 40px 0px 40px 0px;
  font-size: 36px;
  font-weight: 600;
}

.genreTitle {
  padding: 10px 0px 30px 0px;
  font-size: 22px;
  font-weight: normal;
}

/* 링크 css 초기화 */
a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
/* 로그인, 회원가입 페이지에서 푸터가 안보이는 현상 발생
고치려고 했으나 잘 안됨... */
.footer {
  width: 100%;
  height: 140px;
  background-color: black;
  color: #737373;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}

.team {
  font-weight: 900;
}

.rights {
  margin-top: 10px;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.fade-effect {
  opacity: 0;
  animation: fade 1s ease-in-out forwards, fade-out 1s ease-in-out 3s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.none {
  display: none;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}
